.movieListContainer {
  text-align: center;
}

.popularMovieHeader {
  color: white;
}

.moviePostersContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.popularMoviePosters {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.popularMoviePosterContainer {
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.popularMoviePosters img {
  width: 150px;
  border: 3px solid transparent;
}

.popularMoviePosters img:hover {
  border-color: green;
  cursor: pointer;
}

.movieTitle{
  color: white;
  font-weight: bold;
  text-wrap: wrap;
  width: 150px;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

.movieReleaseDate{
  color: white;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  font-size: small;
}

.scrollButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.scrollButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prevButton {
  margin-left: 15%;
}

.nextButton {
  margin-right: 15%;
}
